<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ип.Properties.Settings.Database31ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database31.accdb"
            providerName="System.Data.OleDb" />
        <add name="ип.Properties.Settings.ParkingLotConnectionString"
            connectionString="Data Source=DESKTOP-CANRC2F;Initial Catalog=ParkingLot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>